 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /*font-family: 'Roboto', sans-serif;*/
}
body{
    background: #f3f5f9;
}

.header-navbar{
width: 100%;
height: 75px;
line-height:50px;
font-family: 'Roboto', sans-serif;
padding: 0% 100px;
position: fixed;
z-index: 1;
}
.header-navbar .store-name{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.header-navbar .store-name h2{
    float: left;
    color: #fff;
    text-transform: uppercase;
}
.header-navbar ul{
 float:right;
}
.header-navbar ul li{
    display: inline-block;
    list-style: none;
    color: #fff;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 15px;
    text-transform: uppercase;
}
.header-navbar .d-flex{
padding: 0px 15px;
margin:0 5px
}
.header-navbar .d-flex input{
padding: 0px 15px;
margin:0 5px
}

 .header-navbar ul li a:hover{
    color: aquamarine;
}






/* side bar */
.wrapper{
    display: flex;
    position: relative;
}
.wrapper #sidebar-wrapper{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 5% 0px;
}
.wrapper #sidebar-wrapper .d-flex{
     font-size: 18px;
     font-weight: bold;
     text-transform: uppercase;
     text-align: center;
     margin-bottom: 20px;
     color: #fff;
}
.wrapper #sidebar-wrapper ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);

}
.wrapper #sidebar-wrapper ul li a{
 color: #bdb8d7;
 display: block;
}
.wrapper #sidebar-wrapper ul li a .home{
    width: 25px;
}
.wrapper #sidebar-wrapper ul li:hover{
    background: rosybrown;
}
.wrapper #sidebar-wrapper ul li:hover a:hover{
   color: seashell;
}


.wrapper #sidebar-wrapper .social-media{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.wrapper #sidebar-wrapper .social-media a{
    display: block;
    width: 60px;
    background: #594f8d;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    color:#bdb8d7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
/*  home page */
#carouselExampleIndicators .carousel-inner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: 30rem
}
#carouselExampleIndicators .carousel-inner a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;

}

/** content login and sing up **/
.container-form{
    width: 100%;
    margin-left: 140px;
    padding: 100px;
}
.wrapper .page-content{
    width: 100%;
    margin-left: 140px;
    padding: 100px;
}
.wrapper .page-content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .page-content .info{
    margin: 15px;
    color: #717171;
    line-height: 25px;
    margin-bottom: 20px;
}
.wrapper .page-content .info img{
    width: 160px;
    height:220px;
    float: left;
}
.wrapper .page-content .info .text{
    display: inline-block;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}
.wrapper .page-content .info ul{
  padding:5px;
  margin-bottom:30px;
   }
/* footer */

   footer {
     text-align: center;
     padding: 3px;
     color: white;
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
   }


/*
.description {
    left: 35%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}
.description img{
    border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      width: 150px

}


.content-container {
  padding-top: 20px;
}

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 20px;
  background-color: #2574A9;
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: #fff;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background-color: #2574A9;
  position: absolute;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #151515;
  padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

.content-container {
  padding-left: 220px;
}*/




