<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Big Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/56d374c6aa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/js/bootstrap.js}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<!--navigation starts -->
<header th:fragment="header">
<div>
        <nav class="navbar navbar-expand-md bg-dark header-navbar" >
            <div class=" store-name text-bold">
                <h2>A BEST BOOKSTORE</h2>
            </div>
            <ul class="nav navbar-nav navbar-nav flex-row flex-wrap bd-navbar-nav">
                    <li class="nav-item-active col-6 col-md-auto"><a  th:href="@{/}"> <span class="fa fa-fw fa-home"></span> HomePage</a></li>
                    <li class="nav-item col-6 col-md-auto"><a  th:href="@{/}">About us </a></li>
                    <li class="nav-item col-6 col-md-auto"><a th:href="@{/}"><span class=" fa fa-fw fa-envelope"></span> Contacts</a></li>
                    <form class="d-flex">
                        <input class="form-control me-4" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><span class=" fa fa-fw fa-search"></span> Search</button>
                    </form>
                    <li class="nav-item col-6 col-md-auto"><a href="#"><span class=" fa fa-fw fa-user-circle"></span> Your Account</a></li>
                    <li class="nav-item col-6 col-md-auto"><a th:href="@{/login}"><span class="fa fa-fw fa-user"></span> log in</a></li>
                    <li class="nav-item col-6 col-md-auto"><a href="#"><span class=" fa fa-fw fa-shopping-cart"></span> Cart</a></li>
                </ul>
        </nav>
    </div>
</header>
<!--navigation end-->
<!--side bar -->
<main th:fragment="sidebar">
<div class="wrapper">
    <div class="d-flex flex-column flex-shrink-0 text-white bg-secondary" id="sidebar-wrapper">
        <a href="/" class="d-flex align-items-center mb-3  me-md-auto text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use th:href="@{/home}"/></svg>
            <span class="fs-4">A BEST BOOKSTORE</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="home nav-link" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use th:href="@{/home}"/></svg>
                    Home
                </a>
            </li>

            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use th:href="@{/home}"/></svg>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use th:href="@{/home}"/></svg>
                    Orders
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use th:href="@{/home}"/></svg>
                    Products
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use th:href="@{/home}"/></svg>
                    Customers
                </a>
            </li>
        </ul>
        <div class="social-media">
            <a href=""class="fab fa-facebook-square"></a>
            <a href="" class="fab fa-twitter-square"> </a>
            <a href="" class="fab fa-instagram-square"> </a>
        </div>
    </div>
</div>
</main>

<section th:fragment="body">
    <div class="wrapper">
        <div class="page-content">

        </div>
    </div>
</section>
<!--logout navigation-->
<section th:fragment="logoutnavigation">
    <div>
    <nav class="navbar navbar-expand-md bg-dark header-navbar" >
    <div class="store-name text-bold">
        <h2>A BEST BOOKSTORE</h2>
    </div>
        <ul class="nav navbar-nav navbar-nav flex-row flex-wrap bd-navbar-nav">
                <li class="nav-item"> <a class="nav-link"  th:href="@{/}"><span class="fa fa-fw fa-home"></span>HomePage</a></li>
                <li class="nav-item"><a  class="nav-link" th:href="@{/}">About us </a></li>
                <li class="nav-item"><a  class="nav-link" th:href="@{/}"><span class="fa fa-fw fa-envelope"></span> Contacts</a></li>
                <form class="d-flex">
                    <input class="form-control me-4" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><span class=" fa fa-fw fa-search"></span> Search</button>
                </form>
                <li ><a href="#"><span class="fa fa-fw fa-user-circle"></span> myAccount</a></li>
                <li><a href="#"><span class="fa fa-fw fa-shopping-cart"></span> Cart</a></li>
                <li><a th:href="@{/logout}"><span class="fa fa-fw fa-user"></span></span> log out</a></li>
        </ul>
    </nav>
    </div>
</section>

<footer class="page-footer bg-dark navbar-fixed-bottom" role="navigation">
    <div class="bg-success">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
            <div class="col-md-12 text-center">
               <a href="#">  <i class="fab fa-facebook-square text-white mr-4"></i> </a>
                <a href="#"> <i class="fab fa-twitter-square text-white mr-4" ></i> </a>
                <a href="#"> <i class="fab fa-google-plus-square text-white mr-4"></i> </a>
                <a href="#"> <i class="fab fa-linkedin text-white mr-4"></i> </a>
                <a href="#"> <i class="fab fa-instagram-square text-white"></i> </a>
            </div>
        </div>
    </div>
    </div>
    <div class="container text-center text-md-left mt-5">

<div class="row">

    <div class="col-md-3 mx-auto md-4">
        <h6 class="text-uppercase font-weight-bold">The providers</h6>
        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width:125px; height:2px">
        <p class="mt-3">Sophia (soˈfia), real name Sophia Scicolone. born 1934, Italian film actress. Her films include Two Women (1961) for which she won an Oscar, The Millionairess (1961), Man of La Mancha (1972), The Cassandra Crossing (1977), and Prêt à Porter (1994)</p>
    </div>
    <div class="col-md-2 mx-auto md-4">
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width:85px; height:2px">
        <ul class="list-unstyled">
            <li class=" my-2"> <a href="#"> HTML 5</a> </li>
            <li class=" my-2"> <a href="#"> CSS</a> </li>
            <li class=" my-2"> <a href="#"> Bootstrap</a> </li>
            <li class=" my-2"> <a href="#"> Java</a> </li>
        </ul>
    </div>
    <div class="col-md-2 mx-auto md-4">
        <h6 class="text-uppercase font-weight-bold">Usefull Links</h6>
        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width:110px; height:2px">
        <ul class="list-unstyled">
            <li class=" my-2"> <a href="#">Home</a> </li>
            <li class=" my-2"> <a href="#">About</a> </li>
            <li class=" my-2"> <a href="#">Services</a> </li>
            <li class=" my-2"> <a href="#">Contact</a> </li>
        </ul>
    </div>
    <div class="col-md-3 mx-auto md-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width:75px; height:2px">
        <ul class="list-unstyled">
            <li class=" my-3"> <i class="fas fa-home"> </i> 1317 Ohio Avenue,Saint Louis,Mo 63104</li>
            <li class=" my-3"> <i class="far fa-envelope"></i> abestbookstore@gmail.com </li>
            <li class=" my-3"> <i class="fas fa-phone"></i> +1 314 203 5353</li>
            <li class=" my-3"> <i class="fas fa-print"></i> +0001111345</li>
        </ul>
    </div>
</div>
    </div>
    <div class="footer-copyright text-center py-3">
        <p>&copy; Copyright
        <a href="#">jilo1jima@gmail.com</a></p>
        <p> Designed By the Jilo Bakalo</p>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">

</script>
</body>

</html>